body {
  background-color: #f5f5f5;
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.App-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Winfooz Logo */
header {
  width: 119px;
  height: 34px;
  object-fit: contain;
  margin: 43px 0px 40px 0px;
}

/* Login Section  */
/* Login Box */
.login-box {
  width: 770px;
  height: 349px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Box header */
.box-header p {
  width: 220px;
  height: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 0.73;
  color: #1c1c1c;
  margin: 49.2px 0 39.8px 0;
}

/* Login Area */
/* Email & Password Inputs */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email,
.password {
  display: flex;
  flex-direction: column;
}

/* Email Section */
.email {
  width: 505px;
  height: 62px;
  margin-bottom: 15px;
}

.email label {
  width: 41px;
  height: 21px;
  font-size: 16px;
  line-height: 1.31;
  color: #333333;
  margin-bottom: 4px;
}

.email input {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
}

/* ERROR STYLING */

.error {
  border: 1px solid red;
  border-radius: 4px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 7.5px 0px 8.5px 15px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.31;
  color: #1c1c1c;
}

.email input::placeholder,
.passwordContainer input::placeholder {
  width: 170px;
  height: 21px;
  font-size: 16px;
  line-height: 1.31;
  margin: 7.5px 0 15px 8.5px;
}

/* Password Section */

input[type="password"],
input[type="text"] {
  padding: 16px 0px 15px 15px;
  font-size: 16px;
}

.password label {
  width: 72px;
  height: 20px;
  font-size: 16px;
  line-height: 1.31;
  color: #333333;
  margin-bottom: 4px;
}

.passwordContainer {
  margin: 0 auto;
  position: relative;
}
.passwordContainer input {
  width: 506px;
  height: 37px;
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
}

/* Show/Hide Icon */
.passwordContainer .icon {
  width: 24px;
  height: 23px;
  cursor: pointer;
  float: right;
  margin: 7px 0px 8px 465px;
  position: absolute;

  z-index: 2;
}

/* Ignition Button */

.btn {
  width: 161px;
  height: 41px;
  margin-top: 15.2px;
}

button {
  color: #ffffff;
  background-color: #f6ac34;
  font-size: 16px;
  border-radius: 23px;
  border-style: none;
  cursor: pointer;
}

button:focus {
  outline: auto;
  border-style: solid;
}
